{% extends 'base.html' %}
{% block content%}
<h1>New Post</h1>

<form action="{% url 'createfeed' %}" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {% for field in form %}
    <div class="input-field col s12" id="group_{{ field.name }}">
        <label for="id_{{ field.name }}" class="control-label">{{ field.label }}</label>
        <div class="input-field col s6">
                <i class="material-icons prefix">title</i>
            {{ field }}
        </div>
    </div>
{% endfor %}
    
<br>  
<br>
        <button class="btn waves-effect waves-light" type="submit"  value="submite">Create Post
            <i class="material-icons right">send</i>
          </button>
        </form>

{% endblock %}