{% extends 'base.html' %}
{% load static %}
{% block content%}

<link rel="stylesheet" href="{% static 'css/login.css'%}" />

<div class="theregister">
    <h1>Login </h1>
</div>



        <form action="{% url 'login' %}" method="POST" >

            {% for message in messages %}

            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>

                {{ message }}

            </div>
           {% endfor %}

           
       
        {% csrf_token %}
        
        <div class="row">  
            <div class="input-field col s8">             
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" name="email" class="validate"
                 >
                <label for="email">Email</label>
              </div>
  
              <div class="input-field col s8">
                  <i class="material-icons prefix">lock</i>
                  <input id="password"  type="password" name="password" class="validate" 
                   >
                  <label for="password">Password</label>
                </div>
        

        </div>
      
      
                <div class="thebutton">
                    <button class="btn waves-effect waves-light" type="submit" value="submite">Login
                        <i class="material-icons right">send</i>
                      </button>
                </div>

</form>
<div class="thetag">
    <a href="{% url 'register' %}">Register Here </a>
</div>


{% endblock %}